// @import 'yoga';
// @import 'normalize';

// $fa-font-path: '//netdna.bootstrapcdn.com/font-awesome/4.3.0/fonts';
// @import 'font-awesome';
@import 'box-sizing';

$c-black: #000;
$c-gridgrey: #afafaf;
$c-icongrey: #5e5e5e;
$c-green: #8fcf6c;

// *** CSS RESETS ***

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
}

ul {
  padding-left: 0;
  list-style: none;
}

img {
  max-width: 100%;
}

// *** DOUBLE CONTAINER ***

.container {
  max-width: 65rem;
  margin: auto;
}

main {
  padding: 1rem;
}

// *** WHOLE CARD ***

.contact-info-card {
  width: calc(100% / 3 - 2rem);
  min-width: 16rem;
  margin: 1rem;
  float: left;
  border: 0.1rem solid $c-gridgrey;
  border-radius: 0.5rem;
  align: center;
}

// *** TOP USER DIVISION (GREEN AREA WITH IMAGE) ***

.top-user-div {
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: $c-green;
}

// .arrow-left {
//
// }

.user-image {

  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 20%;
}

.user-info {
  margin: 0;
  padding: 0;
}

.contact-icon {
  margin: 0;
  padding: 0.25rem 1rem;
  border-top: 0.1rem solid $c-gridgrey;
  overflow: auto;
}
